.mybox1 {
    background-color: #ffffff00;
    min-height: 200px;
    margin: 20px 10px;
    padding: 20px;
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0);
}

/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    h1 {
        color: blue;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    h1 {
        color: rgb(86, 154, 185);
    }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
        h1 {
        color: rgb(96, 96, 148);
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    h1 {
        color: rgb(119, 44, 88);
    }

}