.mybox-custo {
    background-color: rgb(176, 176, 176);
    padding: 20px;
}

.mybox-venda {
    background-color: rgb(48, 91, 171);
    padding: 20px;
}

.mybox-resultado {
    background-color: rgb(155, 74, 8);
    padding: 20px;
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .mybox-custo {
        background-color: rgb(134, 69, 255);
        padding: 20px;
        max-width: 500px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .mybox-custo {
        background-color: rgb(51, 24, 102);
        padding: 20px;
        max-width: 500px;
    }
    
}
